/* bus-sighter */
/* a project by a bus spotter based in Sydney, Australia */
/* https://github.com/max8539/bus-sighter */

body {
    background-color: #00b4f0;
    font-family: "Tahoma", sans-serif;
}
#logo {
    padding:5px;
}